.posts-expand {
  .post-eof {
    height: 3px;
    border: none;
    background-color: #ddd;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
    margin: $post-eof-margin-top auto $post-eof-margin-bottom;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
